.categoryPage{
    min-height: 100%;
    padding-top: 30px;
}

.categoryPage h4{
    border-top: 1px solid beige;
    border-bottom: 1px solid beige;
    padding: 25px;
}

.filter{
    width: 200px;
    /* height:500px; */
    background-color: black;
    /* position: fixed; */
    /* position: sticky; */
    /* top: 100px;
    z-index: 4; */
    padding: 20px 10px;
}


.filter div{
    height:200px;
    border: 2px yellow solid;
    background-color: rgba(128, 128, 128, 0.699);
    position: sticky;
    top:200px;
}

.itemsDiv{
    padding: 20px 30px;
     /* display: grid; */
    /* grid-template-columns: 25% 25% 25%  ; */ 
    /* grid-template-rows:auto; */
    /* justify-items: center; */

    /* justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center; */
}

.item{
    width:30%;
    height:300px ;
    border: 1px black solid;
    /* padding: 10px; */
    margin: 15px;
}

.item img{
    width:inherit;
    height: inherit;
    width:900px;
    height:1500px ;
}

@media (max-width : 789px) {
    .filter{
        width:100%;
        height:250px;
    }

    
}