.categoryPage{
    min-height: 100%;
    padding-top: 30px;
}

.categoryPage h4{
    border-top: 1px solid beige;
    border-bottom: 1px solid beige;
    padding: 25px;
}

.filter{
    width: 200px;
    /* height:500px; */
    background-color: black;
    /* position: fixed; */
    /* position: sticky; */
    /* top: 100px;
    z-index: 4; */
    padding: 20px 10px;
}


.filter div{
    height:200px;
    border: 2px yellow solid;
    background-color: rgba(128, 128, 128, 0.699);
    position: sticky;
    top:200px;
}

.itemsDiv{
    padding: 20px 30px;
    /* display: grid;
    grid-template-columns: repeat(5,200px) ;  */
    /* grid-template-rows:auto; */
    /* justify-items: center; */

    /* justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center; */
}

.item, .itemsDiv .col.item{
    width: 40px;
    height:300px ;
    border: 1px black solid;
    /* padding: 10px; */
    margin: 15px;
    padding: 0;
    transition: 0.5s;
}

.item:hover, .itemsDiv .col:hover{
    filter: brightness(1.2);
}

.item img{
    width:100%;
    height: inherit;
}

.itemDetails .col{
    width: 100%;
    font-size: 15px;
    border: 1px solid red;
    padding: 0;
}

.itemD{
    width: 100%;
    font-size: 15px;
    display: flex;
    border: 1px solid pink;
}

.itemD .d1, .itemD .d2{
    margin: 5px;
    flex:1;
}



@media (max-width : 789px) {
    
}