.frameQATrip{
    direction: rtl;
    width:90%;
    height: 80vh;
    margin: auto;
    border: 1px solid black;
}

.frameQATrip h3{
    margin:20px;
}

.placeInput{
    display: flex;
    width:50%;
    margin: auto;
}

.placeInput select,.placeInput button{
    margin: 5px;
}