

.top div{
    min-width:50px;
    /* border: 2px black solid; */
    margin: 5px;
}

.mainNav{
    background-color: rgba(255, 255, 255, 0.538);
    
}

.linkCategory{
    color: rgba(0, 0, 0, 0.748);
    
}